*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.clearfix::after{
	content:"";
	display:block;
	clear:both;
}

/*--------------------HEADER------------------------*/
header{
	width:100%;
	height:70px;
	background-color:#EC715F;
}

nav{
	width:1024px;
	height:70px;
	margin:0 auto;
}
.header-logo{
	margin-left:90px;
	float:left;
}
img{
	height:70px;
	vertical-align: bottom;
}

.header-item{
	list-style: none;
	float:right;
	line-height:70px;
	padding:0 30px;
	font-size:16px;
	color:#FAFAFA;
}

/*--------------------MAIN------------------------*/


.main-picture{
	height:650px;
	width:100%;
	margin:0 auto;
	position:relative;
	vertical-align:bottom;
}

.main-title{
	font-size:64px;
	color:#FAFAFA;
	text-align: center;
	position:absolute;
	top:280px;
	right:470px;

}

.main-text{
	font-size:20px;
	color:#FAFAFA;
	text-align: center;
	position:absolute;
	top:360px;
	right:522px;
	font-family:"serief";
}


/*--------------------PORTFOLIO------------------------*/


.portfolio{
	background-color:#ECEFF1;
	padding:90px 0;
}

.portfolio-title{
	text-align: center;
	font-size:32px;
	color:#000000;
	display:block;
	margin:0 0 8px 0;
}

.p-border{
	border-bottom:3px solid #EC715F;
	display:block;
	margin: 0 auto;
	width:70px;
	height:3px;



}

.portfolio-text{
	text-align: center;
	font-size:16px;
	color:#000000;
	margin:30px auto;
}

.portfolio-container2{
	margin:0 auto;
	height:510px;
	width:920px;
	background-color:#ECEFF1;
	background-size: cover;
}

.box1{
	width:300px;
	height:250px;
	float:left;
	margin-right:10px;

}
.box2{
	width:300px;
	height:250px;
	float:left;
	object-fit:cover;
	margin-right:10px;
}
.box3{
	width:300px;
	height:250px;
	float:left;
}

.box4{
	width:300px;
	height:250px;
	float:left;
	object-fit:cover;
	margin-right:10px;
	margin-top:10px;
}
.box5{
	width:300px;
	height:250px;
	float:left;
	margin-right:10px;
	margin-top:10px;
}
.box6{
	width:300px;
	height:250px;
	float:left;
	object-fit:cover;
	margin-top:10px;
	
}


/*--------------------FEATURE------------------------*/


.feature{
	background-size:cover;
	background-position:center;

}
.feature-container{
	width:1024px;
	margin:0 auto;
}


.feature-title{
	text-align: center;
	font-size:32px;
	color:#000000;
	display:block;
	margin:0 0 8px 0;
	padding-top:90px;
}

.feature-text{
	text-align: center;
	font-size:16px;
	color: #000000;
	margin:30px auto;
}


.feature-contents{
	width:1000px;
	text-align:center;
	margin:0 auto;
}

.icon{
	float:left;
	margin-right:10px;
	width:320px;
	height:auto;
	padding:0 0 90px 0;
}


.icon i{
	font-size:60px;
	padding:10px;
}

.Strength{
	font-size:20px;
	color:#000000;
	padding:10px 0 10px 0;
}

.Strength-p{
	text-align:left;
	font-size:16px;
}


/*---------------------PROFIEL-----------------------*/

.profile{
	background-color:#ECEFF1;
	background-size:cover;
	background-position:center;
	padding:90px;

}
.profile-top{
	width:1024px;
	margin:0 auto;
}


.profile-title{
	text-align: center;
	font-size:32px;
	color:#000000;
	display:block;
	margin:0 0 8px 0;
}

.profile-text{
	text-align: center;
	font-size:16px;
	color: #000000;
	margin:30px auto;
}

/*--------------------PROFILE  BOTTOM-----------------------*/

.profile-container{
	width:1024px;
	height:250px;
	margin:0 auto;
	padding:30px 0 90px 0;
}

.left-content{
	width:50%;
	float:left;
}


.profile-picture{
	width:250px;
	height:250px;
	margin:0 auto;
	border-radius:50%;
	background-image:url(img/chapter10my-icon.jpg);
	vertical-align:bottom;


}

.right-content{
	width:50%;
	float:left;
}

.name-title{
	font-size:20px;
}

.name-text{
	font-size:16px;
	color:#000000;
	margin:5px 0 20px 0;
}

.skills-title{
	font-size:20px;

}

.skills-text{
	font-size:16px;
	color:#000000;
	margin-top:5px;
}



/*-------------------CONTACT-------------------------*/


.contact{
	background-size:cover;
	background-position:center;
	padding:90px;
}
.contact-top{
	width:1024px;
	margin:0 auto;
}


.contact-title{
	text-align: center;
	font-size:32px;
	color:#000000;
	display:block;
	margin:0 0 8px 0;
}

.contact-text{
	text-align: center;
	font-size:16px;
	color: #000000;
	margin:30px auto;
}


/*-------------------CONTACT BOTTOM--------------------------*/
.contact-container{
	width:800px;
	height:100px;
	margin:0 auto;
	padding:0 0 90px 0;

}

.left-contact{
	width:50%;
	float:left;
}
.contact-contents{
	width:130px;
	margin:0 auto;
}



.mail{
	font-size:20px;
}
.adress{
	text-align: left;
	display:block;
	margin:5px 0 20px 0;
}
.tell{
	font-size:20px;
}
.number{
	text-align: left;
	display:block;
	margin-top:5px;
}

.right-contact{
	width:50%;
	float:left;
}

.sns-contents{
	width:195px;
	margin:0 auto;
}

.sns{
	font-size:20px;
	margin:0 0 5px 0;
}
.sns-contents i{
	font-size:50px;
	padding-right:20px;
}

/*------------------------FOOTER-------------------------*/


footer{
	width:100%;
	height:60px;
	background-color:#EC715F;
	line-height: 60px
}

nav{
	height:70px;
	margin:0 auto;
}
.footer-logo{
	text-align:center;
	font-size:16px;
	color:#FAFAFA;
}




